/**
 * Variables
 */

$dark: #0b132a;
$darker: #0d1025;
$light: #dddddd;
$light-grey: #f8f8f8;
$grey: #f6f6f6;
$grey2: #eeeff2;
$grey-medium: #afb5c0;
$dark-grey: #4f5665;
$toxic-green: #00ff00;
$green: #2fab73;


// default breakpknts
$xs: "480px";
$sm: "600px";
$md: "799px";
$lg: "1010px";
$xl: "1280px";
